lw6/GeometryLib/obj/
lw6/GeometryLib/bin/
lw6/GeometryLib.Tests/obj/
lw6/GeometryLib.Tests/bin/
lw6/.idea/
lw6/Folder.DotSettings.user
lw_6/ModelLib.Tests/bin/
lw_6/ModelLib/obj/
lw_6/ModelLib.Tests/obj/
lw_6/ModelLib/bin/
lw_6/.idea/
lw_7/mock/obj/
lw_7/mock/bin/
lw_7/mock.test/obj/
lw_7/.idea/
lw_7/mb.log
lw_7/mb.pid
lw_7/mock.test/bin/
lw_7/mb1.log
lw_8/.idea/
lw_8/ShopProducts.test/obj/
lw_8/ShopProducts/obj/
lw_8/ShopProducts/bin/
lw_8/ShopProducts.test/bin/
lw_9/UICheck/obj/
lw_9/UICheck.test/obj/
lw_9/.idea/
lw_9/UICheck.test/bin/
lw_10/.idea/
lw_10/UICheck.test/bin/
lw_10/UICheck.test/obj/
